@{
    @* ViewData["Title"] = "Jokes"; *@
    Layout = "_Layout";
}
<h1>@ViewData["Title"]</h1>
@model IEnumerable<Quotes.Joke>

<div class="text-center">
    <h1 class="display-4">Jokes Page</h1>
    <br /> <!-- Extra line of blank space -->

    <div class="joke-list">
        @foreach (var joke in Model)
        {
            <div class="joke">
                <br />
                <p><strong>"@joke.Text"</strong>
                    <br><strong>Author:</strong> @joke.Author
                    <br><strong>ID:</strong> @joke.Id
                    <br><strong>Created:</strong> @joke.CreatedDate
                </p>
                <br />
                <hr />
            </div>
        }
    </div>

</div>