@{
    @* ViewData["Title"] = "Jokes"; *@
    Layout = "_Layout";
}
<h1>@ViewData["Title"]</h1>
@model IEnumerable<Quotes.Joke>

<div class="text-center">
    <h1 class="display-4">Jokes Page</h1>
    <div class="joke-list">
        @foreach (var joke in Model)
        {
            <div class="joke">
                <p>"@joke.Text"
                    <br>Author: @joke.Author
                    <br>ID: @joke.Id
                    <br>Created: @joke.CreatedDate
                </p>
            </div>
        }
    </div>

</div>